@use "../base/typography" as t;
body {
  background-color: #d8d3cf;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.home-page {
  font-family: t.$ff-DMSans;
  font-size: t.$body-m-fs;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main {
  .showreal-img {
    display: flex;
    justify-content: center;
    margin-inline: 60px;
    position: relative;
    margin-bottom: 36px;
    @media screen and (min-width: 820px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1440px) {
      margin: 0;
      img {
        display: none;
      }
    }
  }
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 100;
    position: absolute;
    @media screen and (min-width: 1440px) {
      position: static;
    }
  }
  .carousel-slider {
    position: relative;
    display: flex;
    align-items: center;
    height: 12vh;
  }
  .carousel-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .carousel-item {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: max-content;
    height: 12vh;
  }
}
.portfolio-link {
  background-color: black;
  padding: 8px 16px;
  border-radius: 99vh;
  text-decoration: none;
  z-index: 100;
  text-decoration: mone;
  color: white;
}
