@use "../base/typography" as t;
.realizacja-main {
  margin-block: 96px;
  @media screen and (min-width: 1280px) {
    margin-block: 144px;
  }
}
.title-mobile {
  margin-inline: 16px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .header {
    font-family: t.$ff-Lora;
    font-size: t.$body-xl-lora-fs;
    font-weight: t.$body-xl-lora-fw;
    line-height: t.$body-xl-lora-lh;
  }

  @media screen and (min-width: 820px) {
    display: flex;
    flex-direction: row;
    gap: 24px;
    .header {
      font-family: t.$ff-Lora;
      font-size: t.$body-xl-lora-fs;
      font-weight: t.$body-xl-lora-fw;
      line-height: t.$body-xl-lora-lh;
    }
  }

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.realizacja {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: 16px;
  gap: 16px;
  @media screen and (min-width: 820px) {
    grid-template-columns: repeat(6, 1fr);
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(12, 1fr);
  }
}
.realizacja-container {
  grid-column: span 4;

  @media screen and (min-width: 820px) {
    grid-column: span 6;
  }
  @media screen and (min-width: 1280px) {
    grid-column: 2 / span 10;
  }
  img,
  video {
    width: 100%;
  }
}
