.navigation-top {
  margin-top: 20px;
  margin-inline: 20px;
  display: flex;
  justify-content: space-between;

  .name {
    font-family: "Lora", serif;
    font-weight: 700;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .right-side {
    display: flex;
    gap: 16px;
  }
  .previous-btn {
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-btn,
  .portfolio-btn {
    width: 58px;
    height: 42px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}
.breadcrumbs {
  font-family: "Lora", serif;
  font-weight: 700;
  a {
    text-decoration: none;
    color: black;
  }
}
