.navigation-top {
  .nav-left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .breadcrumb-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 820px) {
      flex-direction: row;
      gap: 26px;
    }
    a {
      display: flex;
      gap: 14px;
      align-items: center;
      text-decoration: none;
      color: black;
    }
  }
  .nav-right-side {
    display: flex;
    gap: 16px;
  }
  .title-desktop {
    display: none;
    @media screen and (min-width: 1280px) {
      display: flex;
      gap: 24px;
      .header {
        font-family: "Lora";
        font-weight: bold;

        font-size: 22px;
        line-height: 28px;
      }
      .description {
        width: 400px;
      }
    }
  }
}

.navigation-top {
  padding-top: 16px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;

  .name {
    font-family: "Lora", serif;
    font-weight: 700;
    a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }
  }
  .right-side {
    display: flex;
    gap: 16px;
  }
  .previous-btn {
    width: 42px;
    height: 42px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-btn,
  .portfolio-btn,
  .go-back-btn {
    width: 58px;
    height: 42px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
  }
}
.breadcrumbs {
  font-family: "Lora", serif;
  font-weight: 700;
  a {
    text-decoration: none;
    color: black;
  }
}
