.preloader {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  svg {
    animation-name: rotate;
    animation-duration: 8s;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
