$primary-clr-100: #cec9c5;
$primary-clr-300: #a6a39f;
$primary-clr-500: #757270;
$primary-clr-700: #4d4b49;
$primary-clr-900: #111110;

$secondary-clr-900: #d8d3cf;

$color-disabled: #b8b8b7; ;
