$ff-DMSans: "DM Sans", sans-serif;
$ff-Lora: "Lora", serif;

//Global DM Sans
$body-caption-fs: 12px;
$body-caption-fw: 400;
$body-caption-lh: 18px;

$body-small-fs: 14px;
$body-small-fw: 400;
$body-small-lh: 21px;

$body-m-fs: 15px;
$body-m-fw: 400;
$body-m-lh: 21px;

$body-lg-fs: 20px;
$body-lg-fw: 400;
$body-lg-lh: 25px;

$body-xl-fs: 24px;
$body-xl-fw: 400;
$body-xl-lh: 28.8px;

//Global Lora
$body-m-lora-fs: 15px;
$body-m-lora-fw: 700;
$body-m-lora-lh: 21px;

$body-xl-lora-fs: 22px;
$body-xl-lora-fw: 600;
$body-xl-lora-lh: 28.6px;

//Button
$body-button-fs: 15px;
$body-button-fw: 400;
$body-button-lh: 18px;

//Informators

//---------DM Sans
$informator-s-fs: 14px;
$informator-s-fw: 400;
$informator-s-lh: 17.5px;

//----------Lora
$informator-italic-m-lora-fs: 21px;
$informator-italic-m-lora-fw: 400;
$informator-italic-m-lora-lh: 31.5px;
$informator-italic-m-lora-style: italic;

$informator-italic-lg-lora-fs: 25px;
$informator-italic-lg-lora-fw: 400;
$informator-italic-lg-lora-lh: 31.25px;
$informator-italic-lg-lora-style: italic;

//Logo

$logo-fs: 15px;
$logo-fw: 400;
$logo-lh: 21px;

$logo-lora-fs: 15px;
$logo-lora-fw: 700;
$log-lora-lh: 21px;
